<%= render "articles/title" %>
<h3> Manage Comment </h3>

<%= render "form", article: @article %>

<%= link_to "Destroy", article_comment_path(@article, @comment), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>

<a><%= link_to "Cancel", article_comments_path %></a>
